<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()" >
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button class="btn btn-success" type="submit" [disabled]='!newBookForm.valid' >Save</button>
          </div>                    
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input 
            type="text" 
            id="title" 
            class="form-control"
            formControlName="title">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <label for="desc">Description</label>
            <textarea 
            name="desc" 
            id="title"
            rows="5" 
            class="form-control"
            formControlName="description">></textarea>
          </div>
      </div>
    </form>
  </div>
</div>